.comment-list {
  overflow: auto;
  height: 44vh;
  margin-bottom: 24px;
}

.comment-list::-webkit-scrollbar {
  width: 0;
}

.comment-list::-webkit-scrollbar-track {
  background: transparent;
}

.comment-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.comment-list .ant-list-item {
  padding-top: 16px;
  padding-bottom: 16px;
}

.comment-list .ant-list-item-meta {
  margin-right: 0;
}

.comment-list .ant-list-item-meta-title {
  margin-bottom: 4px;
}

.comment-list .ant-typography {
  font-size: 14px;
}
